*,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-family: 'League Spartan', sans-serif;
    justify-content: space-between;
    box-shadow: 4px 4px 4px #d1caca;
    padding-bottom: 10px;
    padding-top: 10px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left_nav_content {
    display: flex;
    padding-right: 60px;
    align-items: center;
    font-size: medium;
    font-weight: 600;
}
.left_nav_content a:hover {
    color: rebeccapurple;
    font-weight: bold;
    font-size: larger;
}

.left_nav_content a {
    text-decoration: none;
    color: black;
}

#Bag_icon {
    height: 50px;
    display: flex;
}

.right {
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 10px;
    align-items: center;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 190px; */
}

.headings {
    display: flex;
    flex-direction: column;
}

.heading1 {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: larger;
    padding-bottom: 20px;
    padding-left: 4px;
}

.heading2 {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: xxx-large;
    padding-bottom: 5px;
}


.heading3 {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: xxx-large;
    padding-bottom: 10px;
    color: rebeccapurple;
}

.heading4 {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: medium;
    padding-bottom: 5px;
}
.heading5 {
    display: flex;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
    font-weight: 600;
    padding-top: 40px;
    font-size: larger;
    padding-bottom: 5px;
    background: 2px solid black;
}
.heading5 a {
    text-decoration: none;
    background: 2px solid black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}

/* .image1 {} */

#img1 {
    height: 600px;
    width: 690px;
    padding-top: 54px;
}
.section2{
 display: flex;
 margin-top: 20px;
 justify-content: space-evenly;
 padding-top: 20px;
 padding-bottom: 20px;
 margin-bottom: 20px;
}

.feature-card-1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}
/* .feature-card-1 :hover{
   box-shadow: 4px 4px 4px gray ;
} */
.feature-card-2 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    flex-wrap: wrap;
}
.feature-card-3 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}
.feature-card-4 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}
.feature-card-5 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}
.feature-card-6 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}

.fea:hover{
    box-shadow: 4px 4px 4px gray ;
}

 #img1{
  height: 24vw;
  width: 24vw;
}
 #img2{
  height: 100px;
  width: 100px;
}
 #img3{
  height: 100px;
  width: 100px;
}
 #img4{
  height: 100px;
  width: 100px;
}
 #img5{
  height: 100px;
  width: 100px;
}
 #img6{
  height: 100px;
  width: 100px;
}


.text1,.text2,.text3,.text4,.text5,.text6{
    display: flex;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    border: 2px solid crimson;
    padding: 6px;
    border-radius: 4px;
}

#product1{
    text-align: center;
}

.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1 px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition:0.2s ease ;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color:#606063 ;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a ;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height:40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}
